{% load static %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Blog Post | Sparrow</title>
	<meta name="description" content="">
	<meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="{% static 'blog/css/default.css'%}">
	<link rel="stylesheet" href="{% static 'blog/css/layout.css'%}">
   <link rel="stylesheet" href="{% static 'blog/css/media-queries.css'%}">

   <!-- Script
   ================================================== -->
	<script src="{% static 'blog/js/modernizr.js'%}"></script>

   <!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" >

</head>

<body>

   <!-- Header
   ================================================== -->
   <header>

      <div class="row">

         <div class="twelve columns">

            <div class="logo">
               <a href="index.html"><img alt="" src="images/logo.png"></a>
            </div>

            <nav id="nav-wrap">

               <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
	            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

               <ul id="nav" class="nav">

	               <li><a href="/">Home</a></li>
	               <li class="current"><span><a href="">project</a></span></li>
	               <li><a href="/pro/profp/">Blogs</a></li>
                  <li><a href="/blog/blo">Projects</a></li>
                  <li><a href="styles.html">Features</a></li>

               </ul> <!-- end #nav -->

            </nav> <!-- end #nav-wrap -->

         </div>

      </div>

   </header> <!-- Header End -->

   <!-- Page Title
   ================================================== -->
   <div id="page-title">

      <div class="row">

         <div class="ten columns centered text-center">
            <h1>Our Blog<span>.</span></h1>

            <p>Aenean condimentum, lacus sit amet luctus lobortis, dolores et quas molestias excepturi
            enim tellus ultrices elit, amet consequat enim elit noneas sit amet luctu. </p>
         </div>

      </div>

   </div> <!-- Page Title End-->

   <!-- Content
   ================================================== -->
   <div class="content-outer">

      <div id="page-content" class="row">

         <div id="primary" class="eight columns">

            <article class="post">

               <div class="entry-header cf">
                  {% for i in post %}

                  <h1>{{i.topic}}</h1>

                  <p class="post-meta">

                     <time class="date" datetime="2014-01-14T11:24">{{i.date}}</time>
                     /
                     <span class="categories">
                     <a href="#">{{i.categ}}</a> /
                     <a href="#">{{i.lang}}
                     </a>
                     </span>

                  </p>

               </div>

               <div class="post-thumb">
                  <img src="images/post-image/post-image-1300x500-01.jpg" alt="post-image" title="post-image">
               </div>

               <div class="post-content">

                  <p class="lead">
                     {{i.cont2}}</p>


                  <div class="bio cf">

                     <div class="gravatar">
                        <img src="images/author-img.png" alt="">
                     </div>
                     <div class="about">
                        <h5><a title="Posts by John Doe" href="#" rel="author">
                           {{i.author}}
                        </a></h5>
                        <p>
                           {{i.aboutme}}
                        </p>
                     </div>

                  </div>
                  {% endfor %}



               </div>

            </article> <!-- post end -->

            <!-- Comments
            ================================================== -->
            <div id="comments">

               <h3>5 Comments</h3>

               <!-- commentlist -->
               <ol class="commentlist">

                  <li class="depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="images/user-01.png" alt="">
                     </div>

                     <div class="comment-info">
                        <cite>Itachi Uchiha</cite>

                        <div class="comment-meta">
                           <time class="comment-time" datetime="2014-01-14T23:05">Jan 14, 2013 @ 23:05</time>
                           <span class="sep">/</span><a class="reply" href="#">Reply</a>
                        </div>
                     </div>

                     <div class="comment-text">
                        <p>Adhuc quaerendum est ne, vis ut harum tantas noluisse, id suas iisque mei. Nec te inani ponderum vulputate,
                        facilisi expetenda has et. Iudico dictas scriptorem an vim, ei alia mentitum est, ne has voluptua praesent.</p>
                     </div>

                  </li>

                  <li class="thread-alt depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="images/user-03.png" alt="">
                     </div>

                     <div class="comment-info">
                        <cite>John Doe</cite>

                        <div class="comment-meta">
                           <time class="comment-time" datetime="2014-01-14T24:05">Jan 14, 2013 @ 24:05</time>
                           <span class="sep">/</span><a class="reply" href="#">Reply</a>
                        </div>
                     </div>

                     <div class="comment-text">
                        <p>Sumo euismod dissentiunt ne sit, ad eos iudico qualisque adversarium, tota falli et mei. Esse euismod
                        urbanitas ut sed, et duo scaevola pericula splendide. Primis veritus contentiones nec ad, nec et
                        tantas semper delicatissimi.</p>
                     </div>

                     <ul class="children">

                        <li class="depth-2">

                           <div class="avatar">
                              <img width="50" height="50" class="avatar" src="images/user-03.png" alt="">
                           </div>

                           <div class="comment-info">
                              <cite>Kakashi Hatake</cite>

                              <div class="comment-meta">
                                 <time class="comment-time" datetime="2014-01-14T25:05">Jan 14, 2013 @ 25:05</time>
                                 <span class="sep">/</span><a class="reply" href="#">Reply</a>
                              </div>
                           </div>

                           <div class="comment-text">
                              <p>Duis sed odio sit amet nibh vulputate
                              cursus a sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate
                              cursus a sit amet mauris</p>
                           </div>

                           <ul class="children">

                              <li class="depth-3">

                                 <div class="avatar">
                                    <img width="50" height="50" class="avatar" src="images/user-03.png" alt="">
                                 </div>

                                 <div class="comment-info">
                                    <cite>John Doe</cite>

                                    <div class="comment-meta">
                                       <time class="comment-time" datetime="2014-01-14T25:15">Jan 14, 2013 @ 25:15</time>
                                       <span class="sep">/</span><a class="reply" href="#">Reply</a>
                                    </div>
                                 </div>

                                 <div class="comment-text">
                                    <p>Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est
                                    etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                                 </div>

                              </li>

                           </ul>

                        </li>

                     </ul>

                  </li>

                  <li class="depth-1">

                     <div class="avatar">
                        <img width="50" height="50" class="avatar" src="images/user-02.png" alt="">
                     </div>
                     {% for i in comment %}

                     <div class="comment-info">
                        <cite>{{i.name}}</cite>

                        <div class="comment-meta">
                           <time class="comment-time" datetime="2014-01-14T25:15">Jan 14, 2013 @ 25:15</time>
                           <span class="sep">/</span><a class="reply" href="#">Reply</a>
                        </div>
                     </div>

                     <div class="comment-text">
                        <p>{{i.comments1}}</p>
                     </div>
                     {% endfor %}
                  </li>

               </ol> <!-- Commentlist End -->


               <!-- respond -->
               <div class="respond">

                  <h3>Leave a Comment</h3>

                  <!-- form -->
                  <form method="post">
  					   <fieldset>
                          {% csrf_token %}
                          {{ comment_form.as_p }}


                     <button type="submit" class="submit">Submit</button>

  					   </fieldset>
  				      </form> <!-- Form End -->

               </div> <!-- Respond End -->

            </div>  <!-- Comments End -->

         </div>

         <div id="secondary" class="four columns end">

            <aside id="sidebar">

               <div class="widget widget_search">
                  <h5>Search</h5>
                  <form action="#">

                     <input class="text-search" type="text" onfocus="if (this.value == 'Search here...') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'Search here...'; }" value="Search here...">
                     <input type="submit" class="submit-search" value="">

                  </form>
               </div>

               <div class="widget widget_text">
                  {% for si in sidetext %}

                  <h5 class="widget-title">{{si.topic}}</h5>
                  <div class="textwidget">{{si.disc}} </div>
                  {% endfor %}
		         </div>

               <div class="widget widget_categories">
                  <h5 class="widget-title">Categories</h5>
                  <ul class="link-list cf">
                     {% for i in cats1 %}
                     <li><a href="/blog/categories/{{i.namer}}">{{i.name}}</a></li>
                     {% endfor %}

                  </ul>
               </div>





            </aside> <!-- Sidebar End -->

         </div> <!-- Comments End -->

      </div>

   </div> <!-- Content End-->

   <!-- Tweets Section
   ================================================== -->
   <section id="tweets">

      <div class="row">

         <div class="tweeter-icon align-center">
            <i class="fa fa-twitter"></i>
         </div>

         <ul id="twitter" class="align-center">
            {% for j1 in share%}
            <li>

               <span>
               {{j1.disc}}
               <a href="{{j1.link}}">{{j1.linkname}}</a>
               </span>
               <b><a href="#">2 Days Ago</a></b>
            </li>
            {% endfor %}
            <!--
            <li>
               <span>
               This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
               Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
               <a href="#">http://t.co/CGIrdxIlI3</a>
               </span>
               <b><a href="#">3 Days Ago</a></b>
            </li>
            -->
         </ul>

         <p class="align-center"><a href="#" class="button">Follow us</a></p>

      </div>

   </section> <!-- Tweet Section End-->

   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="footer-nav">
					<li><a href="#">Home.</a></li>
              	<li><a href="#">Blog.</a></li>
              	<li><a href="#">Portfolio.</a></li>
              	<li><a href="#">About.</a></li>
              	<li><a href="#">Contact.</a></li>
               <li><a href="#">Features.</a></li>
			   </ul>

            <ul class="footer-social">
               <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li>
               <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

            <ul class="copyright">
               <li>Copyright &copy; 2014 Sparrow</li> 
               <li>Design by <a href="http://www.styleshout.com/">Styleshout</a></li>               
            </ul>

         </div>

         <div id="go-top" style="display: block;"><a title="Back to Top" href="#">Go To Top</a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script>window.jQuery || document.write('<script src="{% static 'blog/js/jquery-1.10.2.min.js'%}"><\/script>')</script>
   <script type="text/javascript" src="{% static 'blog/js/jquery-migrate-1.2.1.min.js'%}"></script>

   <script src="{% static 'blog/js/jquery.flexslider.js'%}"></script>
   <script src="{% static 'blog/js/doubletaptogo.js'%}"></script>
   <script src="{% static 'blog/js/init.js'%}"></script>

</body>

</html>